<div class="well col-md-offset-4 col-md-4">
  <center>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @scotch_bottle.name %>
  </p>

  <p>
    <strong>Vintage:</strong>
    <%= @scotch_bottle.vintage %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @scotch_bottle.notes %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @scotch_bottle.location %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= @scotch_bottle.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= @scotch_bottle.quantity %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @scotch_bottle.rating %>
  </p>


  <%= link_to 'Edit', edit_user_scotch_bottle_path(@user, @scotch_bottle), class: 'btn btn-default' %>
  <%= link_to 'Back', user_scotch_bottles_path(@user), class: 'btn btn-default' %>

</center>
</div>
