<div class="well col-md-offset-3 col-md-6">
  <%= form_for [@user, @wine_bottle], html: {:class => "form-horizontal"} do |f| %>
    <% if @wine_bottle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@wine_bottle.errors.count, "error") %> prohibited this wine_bottle from being saved:</h2>

        <ul>
        <% @wine_bottle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="field">
        <%= f.label :name, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :style, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.text_field :style, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :origin, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.text_field :origin, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :year, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.date_select(:year, :start_year => Date.current.year, :end_year => 1920) %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :size, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.text_field :size, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label 'Purchased', :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.date_select :purchase_date  %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :notes, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.text_area :notes, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :rating, :class => 'control-label col-md-2' %>
        <div class='form-controls col-md-10'>
          <%= f.number_field :rating, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="actions">
      <center>
        <%= f.submit 'Submit', class: 'btn btn-success' %>
        <%= link_to 'Back', user_wine_bottles_path, class: 'btn btn-default' %>
      </center>
    </div>
  <% end %>
</div>
