<p id="notice"><%= notice %></p>
<div class="well">
    <h2>Wine Bottles</h2>
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Wine</a></li>
    <li role="presentation"> <%= link_to 'Scotch', user_scotch_bottles_path(@user) %></li>
  </ul>
  <table class="table">
    <%= link_to '+ New Wine Bottle', new_user_wine_bottle_path, class: 'btn btn-success pull-right' %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Style</th>
        <th>Origin</th>
        <th>Year</th>
        <th>Size</th>
        <th>Purchased</th>
        <th>Notes</th>
        <th>Quantity</th>
        <th>Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <% @user.wine_bottles.each do |wine_bottle| %>
        <tr>
          <td><%= wine_bottle.name %></td>
          <td><%= wine_bottle.style %></td>
          <td><%= wine_bottle.origin %></td>
          <td><%= wine_bottle.year.strftime('%Y') %></td>
          <td><%= wine_bottle.size %></td>
          <td><%= wine_bottle.purchase_date.strftime("%-m/%d/%Y") %></td>
          <td><%= wine_bottle.notes %></td>
          <td><%= wine_bottle.quantity %></td>
          <td><%= wine_bottle.rating %></td>
          <td><%= link_to 'Details', user_wine_bottle_path(@user, wine_bottle), class: 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_user_wine_bottle_path(@user, wine_bottle), class: 'btn btn-default' %></td>
          <td><%= link_to 'Consumed', user_wine_bottle_path(@user, wine_bottle), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
